.xButton {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 20px;
}

.center-modal {
    position: absolute;
    padding: 15%;
    padding-top: 60px;
    padding-bottom: 30%
    z-index: 1050;
    width: 100%;
    height: 80%;
    background: transparent;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-size: 4vh;
}

#section {
    float:left;
    padding:10px;
    background:#a91f1d;
}
