<html>

<head>
    <link href="css/home.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<ion-view view-title="Home" class = "background">
    <ion-content class = "homeFrame">
        <ion-list>

            <ion-slide ng-controller="HomeCtrl as settings" ng-repeat="card in cards" href="#/app/home/{{card.id}}">


                <div class="background reduceDiv item item-thumbnail-left" href="#">
                    <i class="icon ion-ios-calendar-outline cardCalendar"></i>
                    <div class="cardDay">{{card.day}}</div>
                </div>
                <div class="card">

                    <!-- Top-->
                    <div class="cardTop">
                        <div class="item item-thumbnail-left" href="#">
                            <a id = "avatar" ng-href="fb://profile/655146487898613Q" ng-click="changeLinkImages(card.avatarURL, 'avatar')"><span class="avatar"><img src={{card.avatarImg}}></span></a>
                                <span class="cardTitle">{{card.title}}</span>
                                <br/>
                                <a id = "maps" ng-href="https://www.google.co.uk/maps/search/" ng-click="changeLinkMaps(card.location)" >
                                    <i class="icon ion-ios-location custom-locationIcon"></i><span class="venue">{{card.venue}}</span>
                                </a>
                        </div>
                    </div>
                    <!-- Middle-->
                    <div class="item item-image">
                        <a id = "cover" ng-href="" ng-click = "changeLinkImages(card.coverURL, 'cover')"><span class="cardBottomImage"><img src={{card.coverImg}}></span></a>
                    </div>
                    <!--dropdown list-->
                    <button class="button button-clear button-positive button-small" ng-click="isCollapsed = !isCollapsed">
                        <i class="icon custom-locationIcon" ng-class="isCollapsed ? 'ion-plus' : 'ion-minus'"></i>
                        More
                    </button>
                    <div collapse="isCollapsed">
                        <div>
                            <div class="item item-icon-left assertive">
                                <i class="icon ion-clock"></i>
                                {{card.date}}
                            </div>
                            <a id = "maps2" ng-href="https://www.google.co.uk/maps/search/" ng-click="changeLinkMaps(card.location)" >
                                <div class="item item-icon-left assertive">
                                    <i class="icon ion-ios-location"></i>
                                    {{card.location}}
                                </div>
                            </a>
                            </div>
                    </div>
                </div>


            </ion-slide>

        </ion-list>

    </ion-content>
</ion-view>
</body>
</html>