<html>

<head>
    <link href="css/jcr.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<ion-view view-title="JCR" class = "background">
    <ion-nav-buttons side="left">
        <a class="button button-icon button-outline ion-navicon" menu-toggle="left"></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="bar background bar-header" style = "top: -7%">
            <div class="title">Junior Common Room</div>
        </div>
        <div style = "margin: 7%; margin-top: 2%" >
            <br/><br/>
            A Junior Common Room (more commonly know as the JCR) is a committee of students from City Centre Living residences: Culver House, Colston Street and Unite House.
            <br/>
            <br/>
            At the beginning of the year anyone who would like to get involved nominates themselves for a role on the committee and the student residents then vote in their favourite candidates. Elections have taken place for this academic year and you can find details of your JCR committee below.
            <br/>
            <br/>
            The committee play an integral part in the student community by representing their fellow students and working with the Senior Common Room (Warden, Student Support Administrator and Senior Residents) to run varied sports, social, charity and environmental events. They also work with the SCR and Students’ Union in representing any issues that may arise at their residences.
            <br/>
            <br/>
            <div ng-controller ='HomeCtrl'>Keep up to date with all JCR activities by joining the official <a id = "jcr" ng-click ="changeLinkImages('https://www.facebook.com/groups/521020464709928/','jcr')">CCL JCR Facebook</a> group.</div>
            </div>
        </div>
    </ion-content>
</ion-view>
</body>
</html>
