<span ng-click = "ok()"><div style = "background:#963620;">
    <script type="text/ng-template" id="welcomePopup.html"></script>
        <div class="modal-header"  ng-controller="HomeCtrl">

            <body style="font-size: 10px">

            <div class="bar bar-header" style = "buffer-top: 30%; max-height: 8%; background:#a91f1d;">
                <span class = "xButton" ng-click = "ok()"><ion class="ion-android-close"></ion></span>
                <div class="title" style = "font-size: 89%; top: -100%;">Welcome to City Centre Living!</div>
            </div>


            <br/>
            If you live at Unite House, Culver House or Colston Street you are part of our City Centre Living Group.
            <br/>
            This app allows you to browse information about what's on during Welcome Week.
            You can see who your Senior Residents are and how to contact them, what a JCR is and how to get involved, and links to all sorts of other useful information.
            <br/>
            If you have any questions you can always <a menu-close href="#/app/contactUs" ng-click="ok()">contact us.</a>
            <br/>
            Have a great Welcome Week!
            </body>
        </div>
</div></span>