<html>

<head>
    <link href="css/welcomePopup.css" type="text/css" rel="stylesheet"/>
    <script type="text/ng-template" id="welcomePopup.html"></script>

</head>

<body ng-click = "ok()" ng-controller="HomeCtrl">

<div id="header" ng-click = "ok()">
    <div>Welcome to City Centre Living!</div>
    <span class = "xButton" ng-click = "ok()"><ion class="ion-android-close"></ion></span>


</div>

<div id="section" ng-click = "ok()">
    <p>
    If you live at Unite House, Culver House or Colston Street you are part of our City Centre Living Group.
    </p><p>
    This app allows you to browse information about what's on during Welcome Week.
    You can see who your Senior Residents are and how to contact them, what a JCR is and how to get involved, and links to all sorts of other useful information.
    </p><p>
    If you have any questions you can always <a menu-close href="#/app/contactUs" ng-click="ok()">contact us.</a>
    </p><p>
    Have a great Welcome Week!
    </p>
</div>

</body>
</html>

<!--<div class = "main" ng-click = "ok()" ng-controller="HomeCtrl">-->


<!--<ion-header-bar class="bar bar-header">-->
    <!--<span class = "xButton" ng-click = "ok()"><ion class="ion-android-close"></ion></span>-->
    <!--<div class="title1"></div>-->
<!--</ion-header-bar>-->
<!--<div class = 'content'>-->

<!--</div>-->